PLAY_IT_SECRET_KEY=your_playit_gg_secret_key
SERVER_ADMIN_PASS= your_server_admin_password
SERVER_PASS= your_server_password
BACKUP_UPLOAD_END_POINT=http://host.docker.internal:1000 #keep this if running the bot locally or else paste the hosted url
SERVER_API_PORT=8212 #if customized make sure to expose the port
SHARED_CLIENT_SIGNATURE=your_shared_client_signature #used to authenticate connection between use a 32 bit hex string
NGROK_AUTHTOKEN=your_auth_token
NGROK_DOMAIN=your_ngrok_domain
DISCROD_WEBHOOK=yourwehookurl