PORT=1000
SHARED_CLIENT_SIGNATURE=your_shared_client_signature #used to authenticate connection between use a 32 bit hex string
SERVER_BACKUP_API_ENDPOINT=http://localhost:3000 #keep if you are running the bot locally or else paste the nrgok developer domain here

DISCORD_BOT_TOKEN=your_bot_token #get from creating a new bot via discord deverloper platform
CLIENT_ID=your_bot_client_id 
CHANNEL_ID=your_target_channel_id #right click on your channel

DRIVE_FOLDER=your_target_Google_drive_folder_id
GOOGLE_CLIENT_ID=your_google_0Auth_client_id
GOOGLE_CLIENT_SECRET=your_google_0Auth_client_secret
GOOGLE_REDIRECT_URI=http://localhost:1000 #your bot's hosted endpoint
GOOGLE_REFRESH_TOKEN=your_generated_refresh_token #use oAtuh playground to generate it
